language: python
sudo: false
matrix:
  include:
  - python: "3.6"
    env: TEST_TYPE=typecheck
  - python: "3.6"
    env: TEST_TYPE=coverage
  - python: "2.7"
    env: TEST_TYPE=coverage
  - python: "2.7"
    env: TEST_TYPE=check
install:
  - pip install -r requirements-dev.txt
  - pip install -e .
script:
  - make $TEST_TYPE
after_success:
  - if [[ $TEST_TYPE == 'coverage' ]]; then pip install codecov==2.0.5 && codecov; fi
