# Dev requirements, used for various linting tools
coverage==4.5.4
flake8==3.7.9
tox==3.0.0
wheel==0.26.0
doc8==0.8.1
pylint==2.4.4
pytest-cov==2.8.1
pydocstyle==2.0.0

# Test requirements
pytest==5.3.1
py==1.10.0
pygments==2.7.4
mock==2.0.0
requests==2.20.0
boto3==1.15.16
websocket-client==0.54.0
hypothesis==4.43.1
# pip does not catch the <0.7 requirement in pytest so we need to add it to
# the top level requirements.
pluggy==0.12

mypy==0.812
mypy-extensions==0.4.3
