div.body h1 { margin-top: 0; padding-top: 0; font-size: 200%; }

div.highlight-python {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #84ad98;
}

div.highlight-default {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #a9a9a9;
}

a.reference {
  border-bottom: 0.5px dotted #faa;
}
